@font-face {
  font-family: 'Tetris' ;
  src: url('fonts/AldotheApache.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #040009ec;
  display: flex;
  align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.logo {
  font-family: 'Tetris', serif;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 3px 4px 4px #000000;
}

nav.menu-lateral {
  width: 65px; 
  height: 100%;
  background-color: #0d001a;
  padding: 40px 0 40px 1%;
  box-shadow: 5px 0 0 #50029e; 
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .3s;
}

nav.menu-lateral:hover {
  width: 180px;

}

ul {
  height: 100%;
  text-decoration: none;
}

ul li.icones-menu {
  transition: .2s;
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  padding: 10px 4px;
}

ul li.icones-menu:hover {
  background-color: #50029e;
}

ul li.icones-menu {
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  padding: 10px 4px;
  display: flex;
  margin-bottom: 20px;
  font-family: 'Tetris';
  line-height:  40px;
  cursor: pointer;
}

ul li.icones-menu .icone-texto {
  margin-left: 26px;
  font-family: 'Tetris';
  line-height:  40px;
  cursor: pointer;
}

ul li.icones-menu .icone > i {
  font-size: 30px;
}

button.button-nav {
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 23px;
  display: flex;
  font-family: 'Tetris';
  line-height:  40px;
  cursor: pointer;
  width: 100%;
}

button.buttonshop {
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 23px;
  display: flex;
  font-family: 'Tetris';
  line-height:  40px;
  cursor: pointer;
  margin-left: 10px;
}

button.buttonshop:hover{
color: lime
}

.shop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #50029e;
  border-radius: 10px;
  z-index: 10;
  background-color: #0d001af4;
  width: 500px;
  max-width: 80%;
}

.shop.active {
  transform: translate(-50%, -50%) scale(1);
}

.shop-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #50029e;
}

.shop-header .title {
  font-size: 1.3rem;
}

.shop-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white
}

.shop-body {
  padding: 10px 15px;
  display: flex;
  margin: 5px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

ul.menu-elementos li span.menu-texto{
  font-size: 20px;
  margin-left: 12px;
    
}

div.tetris-principal{
  margin: 50% 42%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

#score {
  color: rgb(220, 218, 218);
  font-family: 'Tetris';
  font-weight: lighter;
}

#red {
  color: red;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

#yellow {
  color: yellow;
}

#cyan {
  color: cyan;
}

#orange {
  color: orange;
}


canvas#tetris-board{
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  border-radius: 8px;
  border: solid 5px #bdbdbd;
}

