*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: #fff;
}
nav.menu-lateral{
    height: 100%;
    width: 60px;
    background-color: aquamarine;
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 black;
    overflow: hidden;
    border-radius: 5px;
   
}
nav.menu-lateral:hover{
    width: 200px;
    
}
ul.menu-elementos{
    
    list-style: none;
}
ul.menu-elementos li{
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
    line-height: 45px;
}
ul.menu-elementos li button {
    padding: 0;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  button:hover {
    background-color: red;     /* talvez tirar*/
  }

  
ul.menu-elementos li:hover{
    background-color: red;
    
}
ul.menu-elementos li span.icons-menu{
    font-size: 30px;
    margin-left: 8px;  
}
.shop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.shop.active {
  transform: translate(-50%, -50%) scale(1);
}

.shop-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.shop-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.shop-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.shop-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

ul.menu-elementos li span.menu-texto{
    font-size: 20px;
   
    margin-left: 12px;
    
}
div.tetris-principal{
    height: 600px;
    background-color: red;
    display: flex;
    margin: 5% 30% 10% 30% ;
    border-radius: 10px;
    border: solid 3px;
   
}